<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.weibo.sdk.android.demo"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="15" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_APN_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/DeviceDefault.ButtonBar" >
        <activity
            android:name="com.weibo.sdk.android.demo.MainActivity"
            android:label="@string/title_activity_main" >

            <!--
                 <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="application/*" />
                <data android:mimeType="audio/*" />
                <data android:mimeType="image/*" />
                <data android:mimeType="text/*" />
                <data android:mimeType="video/*" />
            </intent-filter>

            <!-- y!  For these schemes were not particular MIME type has been                 supplied, we are a good candidate. -->
            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.VIEW" /> -->


            <!-- <category android:name="android.intent.category.DEFAULT" /> -->
            <!-- <category android:name="android.intent.category.BROWSABLE" /> -->


            <!-- <data android:scheme="http" /> -->
            <!-- <data android:scheme="https" /> -->
            <!-- <data android:scheme="about" /> -->
            <!-- <data android:scheme="javascript" /> -->
            <!-- </intent-filter> For these schemes where any of these particular MIME types                  have been supplied, we are a good candidate. -->
            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.VIEW" /> -->


            <!-- <category android:name="android.intent.category.BROWSABLE" /> -->
            <!-- <category android:name="android.intent.category.DEFAULT" /> -->


            <!-- <data android:scheme="http" /> -->
            <!-- <data android:scheme="https" /> -->
            <!-- <data android:scheme="inline" /> -->
            <!-- <data android:mimeType="text/html" /> -->
            <!-- <data android:mimeType="text/plain" /> -->
            <!-- <data android:mimeType="application/xhtml+xml" /> -->
            <!-- <data android:mimeType="application/vnd.wap.xhtml+xml" /> -->
            <!-- </intent-filter> For viewing saved web archives. -->
            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.VIEW" /> -->


            <!-- <category android:name="android.intent.category.BROWSABLE" /> -->
            <!-- <category android:name="android.intent.category.DEFAULT" /> -->


            <!-- <data android:scheme="http" /> -->
            <!-- <data android:scheme="https" /> -->
            <!-- <data android:scheme="file" /> -->
            <!-- <data android:mimeType="application/x-webarchive-xml" /> -->
            <!-- </intent-filter> Accept inbound NFC URLs at a low priority -->
            <!-- <intent-filter android:priority="-101" > -->
            <!-- <action android:name="android.nfc.action.NDEF_DISCOVERED" /> -->


            <!-- <category android:name="android.intent.category.DEFAULT" /> -->


            <!-- <data android:scheme="http" /> -->
            <!-- <data android:scheme="https" /> -->
            <!-- </intent-filter> We are also the main entry point of the browser. -->
            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.DEFAULT" /> -->
            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- <category android:name="android.intent.category.BROWSABLE" /> -->
            <!-- <category android:name="android.intent.category.APP_BROWSER" /> -->
            <!-- </intent-filter> The maps app is a much better experience, so it's not                 worth having this at all... especially for a demo!            <intent-filter android:label="Map In Browser">                <action android:name="android.intent.action.VIEW" />                <category android:name="android.intent.category.DEFAULT" />                <data android:mimeType="vnd.android.cursor.item/postal-address" />            </intent-filter> -->
            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.WEB_SEARCH" /> -->


            <!-- <category android:name="android.intent.category.DEFAULT" /> -->
            <!-- <category android:name="android.intent.category.BROWSABLE" /> -->


            <!-- <data android:scheme="" /> -->
            <!-- <data android:scheme="http" /> -->
            <!-- <data android:scheme="https" /> -->
            <!-- </intent-filter> -->
            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MEDIA_SEARCH" /> -->


            <!-- <category android:name="android.intent.category.DEFAULT" /> -->
            <!-- </intent-filter> -->
            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.SEARCH" /> -->


            <!-- <category android:name="android.intent.category.DEFAULT" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity android:name="com.weibo.sdk.android.demo.APITypeListActivity" >
        </activity>
        <activity android:name="com.weibo.sdk.android.demo.ShareActivity" >
        </activity>
        <activity android:name="com.weibo.sdk.android.demo.BlogFunActivity" >
        </activity>
        <activity
            android:name="com.weibo.sdk.android.demo.MovieActivity"
            android:label="@string/title_activity_movie" >
        </activity>
        <activity
            android:name="com.weibo.sdk.android.demo.ShareMovieActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_share_movie"
            android:parentActivityName="com.weibo.sdk.android.demo.MovieActivity"
            android:theme="@style/FullscreenTheme" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.weibo.sdk.android.demo.MovieActivity" />
        </activity>
        <activity
            android:name="com.weibo.sdk.android.demo.LoginActivity"
            android:label="@string/title_activity_login"
            android:windowSoftInputMode="adjustResize|stateVisible" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.weibo.sdk.android.demo.ItemListActivity"
            android:label="@string/title_item_list"
            android:parentActivityName="com.weibo.sdk.android.demo.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.weibo.sdk.android.demo.MainActivity" />
        </activity>
        <activity
            android:name="com.weibo.sdk.android.demo.ItemDetailActivity"
            android:label="@string/title_item_detail"
            android:parentActivityName=".ItemListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ItemListActivity" />
        </activity>
        <activity
            android:name="com.weibo.sdk.android.demo.SlidingmenuActivity"
            android:label="@string/title_activity_slidingmenu" >
        </activity>
        <activity
            android:name="com.weibo.sdk.android.demo.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName="com.weibo.sdk.android.demo.SlidingmenuActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.weibo.sdk.android.demo.SlidingmenuActivity" />
        </activity>
        <activity
            android:name="com.weibo.sdk.android.demo.FriendListActivity"
            android:label="@string/title_activity_friend_list"
            android:parentActivityName="com.weibo.sdk.android.demo.SlidingmenuActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.weibo.sdk.android.demo.SlidingmenuActivity" />
        </activity>
    </application>

</manifest>
